{%extends "portfolio/base.html" %}
{%include bootstrap4%}


{%block content%}
<div class="container z-depth-1 py-5 my-5">
    <section class="mx-md-5 text-center text-lg-left">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12">
          <div class="row p-5">
            <div class="col-lg-8 d-flex flex-column justify-content-between">
              <p class="text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <div>
                <p class="font-weight-bold lead mb-2"><strong>Anna Smith</strong></p>
                <p class="font-weight-bold text-muted">Product manager</p>
              </div>
            </div>
            <div class="col-lg-4 d-flex mb-2 align-items-center">
                <div class="avatar mx-4 w-100 white d-flex justify-content-center align-items-center">
                  <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle img-fluid z-depth-1" alt="woman avatar">
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
  </div>


<div class="container z-depth-1 my-5 p-5">

    <!-- Section -->
    <section>
  
      <h6 class="font-weight-bold text-center grey-text text-uppercase small mb-4">About Me</h6>
      <h3 class="font-weight-bold text-center dark-grey-text pb-2">Our Services</h3>
      <hr class="w-header my-4">
      <p class="lead text-center text-muted pt-2 mb-5">Join thousands of satisfied customers using our template
        globally.</p>
  
      <div class="row d-flex justify-content-center">
  
        <div class="col-md-6 col-xl-4">
          <h5 class="font-weight-normal"><a class="dark-grey-text" href="/about">Website Design</a></h5>
          <p class="small grey-text">Responsive, Minimalism</p>
        </div>
  
        <div class="col-md-6">
          <p class="text-muted mb-5 pb-2">So delightful up dissimilar by unreserved it connection frequently. Do an high room so in paid. Up on
            cousin ye dinner should in. Sex stood tried walls manor truth shy and three his. Their to years so child
            truth. Honoured peculiar families sensible up likewise by on in.</p>
        </div>
  
  
        <div class="col-md-6 col-xl-4">
          <h5 class="font-weight-normal"><a class="dark-grey-text" href="#">Web Development</a></h5>
          <p class="small grey-text">PHP, MySQL, Laravel</p>
        </div>
  
        <div class="col-md-6">
          <p class="text-muted mb-5 pb-2">So delightful up dissimilar by unreserved it connection frequently. Do an high room so in paid. Up on
            cousin ye dinner should in. Sex stood tried walls manor truth shy and three his. Their to years so child
            truth. Honoured peculiar families sensible up likewise by on in.</p>
        </div>
  
  
        <div class="col-md-6 col-xl-4">
          <h5 class="font-weight-normal"><a class="dark-grey-text" href="#">Mobile App</a></h5>
          <p class="small grey-text">Andriod, iOS</p>
        </div>
  
        <div class="col-md-6">
          <p class="text-muted mb-5 pb-2">So delightful up dissimilar by unreserved it connection frequently. Do an high room so in paid. Up on
            cousin ye dinner should in. Sex stood tried walls manor truth shy and three his. Their to years so child
            truth. Honoured peculiar families sensible up likewise by on in.</p>
        </div>
  
      </div>
  
    </section>
    <!-- Section -->
  
  </div>

{%endblock%}
