{%extends "portfolio/base.html" %}
{%include bootstrap4%}


{%block content%}
<div class="container z-depth-1 py-5 my-5">
    <section class="mx-md-5 text-center text-lg-left">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12">
          <div class="row p-5">
            <div class="col-lg-8 d-flex flex-column justify-content-between">
              <p class="text-muted mb-4">Innovative optimized solution seeker. Excited to be at the deployment phase of my new career as a web developer. I am ambitious, adventurous, assiduous, animated, and an alliteration advocate..</p>
              <div>
                <p class="font-weight-bold lead mb-2"><strong>Jack Owuor</strong></p>
                <p class="font-weight-bold text-muted">FullStack Developer</p>
              </div>
            </div>
            <div class="col-lg-4 d-flex mb-2 align-items-center">
                <div class="avatar mx-4 w-100 white d-flex justify-content-center align-items-center">
                  <img src="https://cdn.pixabay.com/photo/2014/08/26/21/27/service-428540__340.jpg" class="rounded-circle img-fluid z-depth-1" alt="JACK">
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
  </div>

<div class="container z-depth-1 my-5 p-5">

    <!-- Section -->
    <section>
      <h3 class="font-weight-bold text-center dark-grey-text pb-2">ABOUT ME </h3>
      <hr class="w-header my-4">
      <p class="lead text-center text-muted pt-2 mb-5">I am committed to real time service delivery</p>
  
      <div class="row d-flex justify-content-center">
  
        <div class="col-md-6 col-xl-4">
          <h5 class="font-weight-normal"><a class="dark-grey-text" href="">EDUCATION</a></h5>
          <p class="small grey-text">Responsive, Minimalism</p>
        </div>
  
        <div class="col-md-6">
          <p class="text-muted mb-5 pb-2">So delightful up dissimilar by unreserved it connection frequently. Do an high room so in paid. Up on
            cousin ye dinner should in. Sex stood tried walls manor truth shy and three his. Their to years so child
            truth. Honoured peculiar families sensible up likewise by on in.</p>
        </div>
  
  
        <div class="col-md-6 col-xl-4">
          <h5 class="font-weight-normal"><a class="dark-grey-text" href="">Web Development</a></h5>
          <p class="small grey-text">Js, Angular, Jquery, Python-Flask, Django</p>
        </div>
  
        <div class="col-md-6">
          <p class="text-muted mb-5 pb-2">So delightful up dissimilar by unreserved it connection frequently. Do an high room so in paid. Up on
            cousin ye dinner should in. Sex stood tried walls manor truth shy and three his. Their to years so child
            truth. Honoured peculiar families sensible up likewise by on in.</p>
        </div>
  
  
        <div class="col-md-6 col-xl-4">
          <h5 class="font-weight-normal"><a class="dark-grey-text" href="">SKILLS</a></h5>
          <p class="small grey-text">Html, css,Github and  bootstrap </p>
          
        </div>
  
        <div class="col-md-6">
          <p class="text-muted mb-5 pb-2">Skills
            JavaScript
            CSS
            HTML
            React
            Redux
            Mongo
            Deployment
            Additional Skills
            Project Management
            Recruitment
            Business Development
            Editing
            Fundraising</p>
        </div>
  
      </div>
  
    </section>
    <!-- Section -->
  
  </div>

{%endblock%}
