{%extends "portfolio/base.html" %}
{%include bootstrap4%}


{%block content%}
<div class="container my-5">


  <!--Section: Content-->
  <section class="">

    <!-- Section heading -->
    <h3 class="text-center font-weight-bold mb-5">MY PROJECTS </h3>
    <hr>

  	<div class="row">

      <!--Grid column-->
      <div class="col-md-4 mb-4">
        <!--Card-->
        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(49).jpg" class="card-img-top" alt="">
            <a>
              <div class="mask rgba-white-slight waves-effect waves-light"></div>
            </a>
          </div>
          <!--/.Card image-->

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title"><strong>WEBSITE</strong></h4>
            <hr>
            <!--Text-->
            <p class="card-text mb-3">Js Project</p>
            <!-- <p class="font-small font-weight-bold dark-grey-text mb-1"><i class="far fa-clock-o"></i>
              07/08/2021</p> -->
            <p class="font-small grey-text mb-0">JACK OWUOR</p>
            <!-- <p class="text-right mb-0 font-small font-weight-bold"><a>read more <i class="fas fa-angle-right"></i></a></p> -->
          </div>
          <!--/.Card content-->

        </div>
        <!--/.Card-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-4">

        <!--Card-->
        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(33).jpg" class="card-img-top" alt="">
            <a>
              <div class="mask rgba-white-slight waves-effect waves-light"></div>
            </a>
          </div>
          <!--/.Card image-->

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title"><strong>Angular Project</strong></h4>
            <hr>
            <!--Text-->
            <p class="card-text mb-3"> Angular </p>
            <!-- <p class="font-small font-weight-bold dark-grey-text mb-1"><i class="far fa-clock-o"></i>
              06/08/2021</p> -->
            <p class="font-small grey-text mb-0">JACK OWUOR</p>
            <!-- <p class="text-right mb-0 font-small font-weight-bold"><a>read more <i class="fas fa-angle-right"></i></a></p> -->
          </div>
          <!--/.Card content-->

        </div>
        <!--/.Card-->
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-4">

        <!--Card-->
        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            <img src="https://cdn.pixabay.com/photo/2021/08/07/06/19/houses-6527892_960_720.jpg" class="card-img-top" alt="">
            <a>
              <div class="mask rgba-white-slight waves-effect waves-light"></div>
            </a>
          </div>
          <!--/.Card image-->

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title"><strong>Python Projects </strong></h4>
            <hr>
            <!--Text-->
            <p class="card-text mb-3"> Django Projects
            </p>
            <!-- <p class="font-small font-weight-bold dark-grey-text mb-1"><i class="far fa-clock-o"></i>
              06/08/2021</p> -->
            <p class="font-small grey-text mb-0"> JACK OWUOR</p>
            <!-- <p class="text-right mb-0 font-small font-weight-bold"><a>read more <i class="fas fa-angle-right"></i></a></p> -->
          </div>
          <!--/.Card content-->

        </div>
        <!--/.Card-->
      </div>
      <!--Grid column-->

    </div>
    
    <div class="text-center mt-4 mb-5">
      <a class="black-text font-weight-bold" href="https://github.com/jn-mic">Browse all projects <i class="fa fa-angle-right"></i></a>
    </div>

  </section>
  <!--Section: Content-->

</div>

{%endblock%}